---
repository:
  description: Ansible role to install and configure {{ role_name }} on your system.
  homepage: https://github.com/tehtbl/ansible-role-{{ role_name }}
{# this comment is needed for having a newline at EOF to pass yamllint tests #}
