---
# ------------------------------------------------------------------------
# defaults file for {{ role_name }}
# ------------------------------------------------------------------------

{# this comment is needed for having a newline at EOF to pass yamllint tests #}
